{% extends 'base.html' %}
{% load jalali_filters %}
{% block content %}
  <p dir="rtl" class="h4">یادآور</p>

  <table class="table table-bordered table-striped table-hover text-center">
    <thead>
      <tr>
        <th style="width:30%;">عنوان</th>
        <th>روز اول</th>
        <th>روز دوم</th>
        <th>روز هفتم</th>
        <th>ماه</th>
        <th>سال</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reminders %}
        <tr>
          <td style="max-width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{ r.title }}</td>

          <td class="{% if r.one %}table-success{% endif %}">{{ r.one_date|to_jalali }}</td>
          <td class="{% if r.two %}table-success{% endif %}">{{ r.two_date|to_jalali }}</td>
          <td class="{% if r.seven %}table-success{% endif %}">{{ r.seven_date|to_jalali }}</td>
          <td class="{% if r.month %}table-success{% endif %}">{{ r.month_date|to_jalali }}</td>
          <td class="{% if r.year %}table-success{% endif %}">{{ r.year_date|to_jalali }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center text-muted">هیچ یادآوری ثبت نشده است</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
