{% extends 'base.html' %}
{% block content %}
<div class="container py-5" dir="rtl">
  <h3 class="mb-4">⏱ گزارش زمان صرف شده برای "{{ todo.title }}"</h3>

  <h5 class="mt-4">💼 بر اساس هفته</h5>
  {% if todo_times.weeks %}
    <ul class="list-group mb-3">
      {% for key , value in todo_times.weeks.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          هفته {{ key}}
          <span class="">{{ value.duration }} </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-light text-center">🎉 هیچ زمان صرف شده‌ای برای این کار ثبت نشده</div>
  {% endif %}

  <h5 class="mt-4">📅 بر اساس ماه</h5>
  {% if todo_times.months %}
    <ul class="list-group mb-3">
      {% for key , value in todo_times.months.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          ماه {{ key }}
          <span class="">{{ value.duration }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-light text-center">🎉 هیچ زمان صرف شده‌ای برای این کار ثبت نشده</div>
  {% endif %}
</div>
{% endblock %}
