<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FlashCards</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Words
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if cards %}
                {% for card in cards %}
                  <li>
                    <a class="dropdown-item" href="{% url 'home:cardsdetails' card.id %}">{{ card.word }}</a>
                  </li>
                {% endfor %}
              {% else %}
                <li>
                  <a class="dropdown-item text-muted" href="#">No words available</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  